
@{
    ViewBag.Title = "Busqueda";
}

<h1>Ingrese el nombre del medicamento que desea buscar</h1>

<form action="/Arbol/RBusqueda" method="post">
    <input type="text" name="Nombre Medicamento" value="" />
    <input type="submit" name="Enviar" value="Enviar" />
</form>


