
@{
    ViewBag.Title = "Compra";
}

<h1>Ingrese el nombre del medicamento que desea comprar y la cantidad que desea del medicamento</h1>

<form action="/Arbol/RCompra" method="post">
    <input type="text" name="Nombre Medicamento" value="" />
    <input type="number" name="Cantidad" value="" />
    <input type="submit" name="Enviar" value="Enviar" />
</form>

